$min-slider-value: 1;
$lower-mid-slider-value: 50;
$mid-slider-value: 51;
$max-slider-value: 100;

@for $i from $min-slider-value through $lower-mid-slider-value {
  .range__value--#{$i} {
    &::-webkit-slider-runnable-track {
      background: linear-gradient(90deg,#fff, #fff #{$i+'%'}, #000 #{$i+'%'}, #000 50%, #fff 50%, #fff) !important;
    }
  }
}

@for $i from $mid-slider-value through $max-slider-value {
  .range__value--#{$i} {
    $bottom-bar-value: calc(50% + #{$i+'%'});
    &::-webkit-slider-runnable-track {
      background: linear-gradient(90deg,#fff, #fff #{$i+'%'},  #000 #{$i+'%'}, #000) !important;
    }
  }
}

@mixin thumb {
  background-image: url("../images/ball.svg");
  transform: rotate(270deg);
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  cursor: pointer;
}

@mixin track {
  height: 1rem;
  background: linear-gradient(90deg,#000, #000 50%, #fff 50%, #fff);
  cursor: pointer;
}

.range {
  &__input-container {
    margin: 20vh 0;
  }
  &__input {
    /* cross browser compat resets */
    -moz-transform: rotate(90deg);
    -webkit-appearance: none;
    background: transparent;
    transform: rotate(90deg);
    width: 40vh;

    // ---Thumb---
    &::-webkit-slider-thumb {
      @include thumb;
      -webkit-appearance: none;
      margin-top: -1.5rem;
      margin-left: -1rem;
    }

    &:active::-webkit-slider-thumb {
      background-image: none;
      background-color: red;
    }

    &::-moz-range-thumb {
      @include thumb;
    }
    // ---Track---
    &::-webkit-slider-runnable-track {
      @include track;
    }

    &::-moz-range-track {
      @include track;
    }
  }
}
