---
layout: layouts/base.njk
---
<h2 class="h2">All posts</h2>
{% set postsCount = collections.post | length %}

{% set postslist = collections.post  %}
{% set postslistCounter = postsCount %}

{% include "postList.njk" %}