---
layout: layouts/base.njk
---
<h1>All posts</h1>
{% set postsCount = collections.post | length %}

{% set postslist = collections.post  %}
{% set postslistCounter = postsCount %}

{% include "postList.njk" %}