<ul class="post-list">
{%- for post in postslist -%}
  <li{% if page.url == post.url %} aria-current="page"{% endif %}>
		<div class="post-list__item">
			<a class="post-list__link" href="{{post.url}}" >
				<p class="post-list__title"><span class="highlight">{{ post.data.title }}</span></p>
				<p class="small">{{ post.date | formattedDate }}</p>
				<p class="post-list__description">{{ post.data.description }}</p>
				{%- for tag in post.data.tags -%}
					{% if tag != "post" %}
						<span class="tag tag--{{tag}}">{{ tag }}</span>
					{% endif %}
				{%- endfor -%}
			</a>
		</div>
	</li>
{%- endfor -%}
</ul>
