 @font-face {
	font-family: TiltWarp-Regular;
	src: url('./fonts/TiltWarp-Regular.ttf') format('truetype');
	font-display: swap;
}

body {
  font-family: sans-serif;
  letter-spacing: .25px;
  margin: 0;
}

p {
  font-size: 1.15rem;
}

.small {
  font-size: 1rem;
}

.layout {
  margin: 0 auto; 
  padding: 2rem 1rem;
  max-width: 1024px;
}

.post-list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1rem;
  row-gap: 1rem;
}

.post-list__link {
  text-decoration: none;
}

.post-list__link:visited {
  color: black;
}

.post-list__link:visited {
  color: black;
}

.post-list__item {
  background-color: white;
  border: 3px solid black;
  border-radius: 6px;
  padding: 1rem;
  box-shadow: 5px 5px 0px black;
  transition: background .5s, border-color .5s, box-shadow .5s, margin .5s;
  transition-timing-function: cubic-bezier(.25, 1, .30, 1);
}

.post-list__item:hover {
  background: #e2fee6;
  box-shadow: 10px 10px 0px black;
  margin-left: -5px;
  margin-top: -5px;
}

.post-list__item:active {
  margin-left: 5px;
  margin-top: 5px;  
  box-shadow: none;
}

.post-list__title {
  margin-top: 0;  
}

.tag {
  padding: .25rem;
  border-radius: 4px;
  background-color: grey;
}
.tag:not(:last-of-type) {
  margin-right: .5rem;
}


.h2 {
  font-family: TiltWarp-Regular, sans-serif;
  font-size: 65px;
  margin: 1rem 0 .5rem;
}

.h3 {
  font-family: TiltWarp-Regular, sans-serif;
  font-size: 20px;
}

.description {
  font-size: 20px;
  font-weight: bold;
  margin: 0.5rem 0;
}

.metadata {
  background-color: black;
  padding: .5rem;
  color: white;
  width: fit-content;
  display: inline-block;
}  

.metadata .label {
  font-weight: bold;
}

.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}
