 @font-face {
	font-family: TiltWarp-Regular;
	src: url('./fonts/TiltWarp-Regular.ttf') format('truetype');
	font-display: swap;
}

body {
  font-family: sans-serif;
  letter-spacing: .25px;
  margin: 0;
}

p {
  font-size: 1.15rem;
}

.small {
  font-size: 1rem;
}

.layout {
  margin: 0 auto; 
  padding: 2rem 1rem;
  max-width: 1024px;
  margin-bottom: 2rem;
}

.post-list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1rem;
  row-gap: 1rem;
}

.post-list__link {
  text-decoration: none;
}

.post-list__link:visited {
  color: black;
}

.post-list__item {
  background-color: white;
  border: 3px solid black;
  border-radius: 6px;
  padding: 1rem;
  box-shadow: 5px 5px 0px black;
  transition: background .65s, border-color .65s, box-shadow .65s, margin .65s;
  transition-timing-function: cubic-bezier(.25, 1, .30, 1);
}

.post-list__item:hover {
  background: #e2fee6;
  box-shadow: 10px 10px 0px black;
  margin-left: -5px;
  margin-top: -5px;
}

.post-list__item:active {
  margin-left: 5px;
  margin-top: 5px;  
  box-shadow: none;
}

.post-list__title {
  margin-top: 0;  
}

.highlight {
  padding: .25rem;
  line-height: 1.75rem;
  color: white;
  background: black;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

.tag {
  padding: .25rem;
  border-radius: 4px;
  background-color: grey;
}
.tag:not(:last-of-type) {
  margin-right: .5rem;
}


.h2 {
  font-family: TiltWarp-Regular, sans-serif;
  font-size: 4rem;
  margin: 1rem 0 .5rem;
}

.h3 {
  font-family: TiltWarp-Regular, sans-serif;
  font-size: 1.25rem;
}

.description {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0.5rem 0;
}

.metadata {
  background-color: black;
  padding: .5rem;
  color: white;
  width: fit-content;
  display: inline-block;
}  

.metadata .label {
  font-weight: bold;
}

.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.header__nav-item-list {
  margin-top: 0;
  padding: 1rem;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__nav-item {
  margin: 0 1rem;
  font-family: TiltWarp-Regular, sans-serif;
  font-size: 1.25rem;
}

.header__nav-item a {
  text-decoration: none;
  color: black;
  transition: box-shadow .15s, clip-path .65s;
  transition-timing-function: cubic-bezier(.25, 1, .30, 1);
}


.header__nav-item a:not(.nav-icon):hover {
  box-shadow: 0px 4px 0px black;
}

.goose {
  height: 3rem;
  cursor: pointer;
}

@keyframes wipe-in-up {
  from {
    clip-path: inset(100% 0 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

.goose--active {
  clip-path: inset(100% 0 0 0);
}

.header__nav-item a.nav-icon:active .goose--active {
  animation: .25s cubic-bezier(.25, 1, .30, 1) wipe-in-up both;
}

.footer {
  position: fixed;
  bottom: 0;
}


/* screen size adjustments */
@media only screen and (max-width: 740px) {
  .h2 {
    font-size: 3.25rem;
  }

  .post-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 450px) {
  .h2 {
    font-size: 2.625rem;
  }

  .post-list {
    grid-template-columns: 1fr;
  }
}

