/* Error: expected "+", "-", "*", "/", or ")".
 *    ,
 * 14 |     $bottom-white-bar-value-2: calc(50 % (100 - #{$i}));
 *    |                                        ^
 *    '
 *   stylesheets/sass/inputs/range.scss 14:40  @import
 *   stylesheets/sass/main.scss 15:9           root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "+", "-", "*", "/", or ")".\a    \2577 \a 14 \2502      $bottom-white-bar-value-2: calc(50 % (100 - #{$i}));\a    \2502                                         ^\a    \2575 \a   stylesheets/sass/inputs/range.scss 14:40  @import\a   stylesheets/sass/main.scss 15:9           root stylesheet';
}
