---
layout: layouts/base.njk
layout_class: post
---
{%- for tag in tags -%}
  {% if tag != "post" %}
    <span class="tag tag--{{tag}}">{{ tag }}</span>
  {% endif %}
{%- endfor -%}
<h1>{{ title }}</h1>
<p class="description">{{ description }}</p>
<p class="metadata"><span class="label">Originally added:</span> {{page.date | formattedDate}}</p>

{{ content | safe }}
