---
layout: layouts/base.njk
---
<h2 class="h2">{{ title }}</h2>
<p class="description">{{ description }}</p>
<p class="metadata"><span class="label">Originally added:</span> {{page.date | formattedDate}}</p>

{{ content | safe }}
